{% extends "base.html" %}

{% block content %}
        <h1>Registrar nuevo libro {{step}}</h1>
        <ul>
                {% for i in range(1,7) %}
                        {%if i==step%}
                                <li><b>Paso {{i}}</b></li>
                        {%else%}
                                <li>Paso {{i}}</li>
                        {%endif%}
                {% endfor %}
        </ul>
        <form method="POST" novalidate> {{ form.hidden_tag() }} 
                {% if step == 1 %}
                        Siga los pasos y proporcione la informacion que se pide
                {% endif %}
                {% if step == 2 %}
                        <div>{{form.titulo.label}} : {{form.titulo()}}</div>
                        <div>{{form.edicion.label}} : {{form.edicion()}}</div>
                {% endif %}
                {% if step == 3 %}
                        <div>
                                {{form.genero.label}} : {{form.genero(id="generos")}}
                                Nuevo genero: <input type="text" id="nuevo_genero"/> 
                                <input 
                                    type="button" 
                                    onclick="addOption(document.getElementById('generos'),document.getElementById('nuevo_genero'))" 
                                    value="Agregar"
                                />
                        </div>
                {% endif %}
                {% if step == 4 %}
                        <div>{{form.tema.label}} : {{form.tema(id="temas")}}
                        Nuevo tema: <input type="text" id="nuevo_tema"/> 
                        <input 
                                type="button" 
                                onclick="addOption(document.getElementById('temas'),document.getElementById('nuevo_tema'))" 
                                value="Agregar"
                        />
                        </div>
                {% endif %}
                {% if step == 5 %}
                        <div>{{form.autores.label}} : {{form.autores(id="autores")}}</div>
                {% endif %}
                <p>
                        {% if step > 1 %}
                                <button type="submit" name="back" value="true">Volver</button>
                        {% endif %}
                        {{form.submit(value=button_text_value)}}
                </p>
        </form>
        <script>
                function addOption(select_field,new_value_field) {
                    new_value = new_value_field.value.trim()
                    if (new_value !== "" && !Array.from(select_field.options).map(option => option.value).some(option => option === new_value)) {
                        const newOption = document.createElement("option");
                        newOption.value = new_value;
                        newOption.textContent = new_value;
                        select_field.appendChild(newOption);
                        newOption.selected = true;
                        new_value_field.value = "";
                    } else {
                        alert("Option is empty or it already exists");
                    }
                }
            </script>
{% endblock %}