{% extends "base.html" %}

{% block content %}
        <h1>Registrar nuevo libro {{step}}</h1>
        <form method="POST" onsubmit="select_ids_with_new_options.forEach(saveChoices)" novalidate> {{ form.hidden_tag() }} 

                {% for field in form %}
                        {% if "CSRF" not in field.label.text %}
                                <div>
                                {{ field.label }} : {{ field(id=field.label.text) }}
                                {% if field.type == 'SelectField' or field.type == 'SelectMultipleField' %}
                                        Nuevo {{field.label.text}}: <input type="text" id='nuevo_{{ field.label.text}}'/>
                                        <button type="button" onclick="addOption(document.getElementById('{{ field.label.text}}'),document.getElementById('nuevo_{{ field.label.text}}'))">Crear</button>
                                        <input type="hidden" name="{{field.label.text}}_new_choices" id="{{field.label.text}}_new_choices"/>
                                {% endif %}
                                </div>
                        {%endif%}
                {% endfor %}
        </form>
        <script>
                select_ids_with_new_options = []
                function addOption(select_field,new_value_field) {
                    new_value = new_value_field.value.trim()
                    if (new_value !== "" && !Array.from(select_field.options).map(option => option.value).some(option => option === new_value)) {
                        const newOption = document.createElement("option");
                        newOption.value = new_value;
                        newOption.textContent = new_value;
                        select_field.appendChild(newOption);
                        newOption.selected = true;
                        new_value_field.value = "";
                        select_ids_with_new_options.push(select_field.id)
                    } else {
                        alert("Option is empty or it already exists");
                    }
                }
                function saveChoices(select_id){
                        const allChoices = Array.from(document.getElementById(select_id).options).map(option => ({
                                value: option.value,
                                text: option.textContent,
                        }));
                        document.getElementById(select_id +"_new_choices").value = JSON.stringify(allChoices);
                }
            </script>
{% endblock %}

